In [3]:
#from sklearn.metrics import ndcg_score, dcg_score
#import numpy as np

#true = np.asarray([[2, 4, 1, 1, 1]])
#relevance = np.asarray([[2, 5, 2, 3, 1]])

#print(ndcg_score(true, relevance))

ПРОСТЕЙШИЕ СИСТЕМЫ РЕКОМЕНДАЦИЙ

In [4]:
import pandas as pd

In [5]:
ratings = pd.read_csv('dst-3.0_mathml_14_5_rating.csv')
movies = pd.read_csv('movie.csv')
df=pd.merge(ratings,movies, how='left',on='movieId')
df.head()

,userId,movieId,rating,timestamp,title,genres
0,1,2,3.5,2005-04-02 23:53:47,Jumanji (1995),Adventure|Children|Fantasy
1,1,29,3.5,2005-04-02 23:31:16,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
2,1,32,3.5,2005-04-02 23:33:39,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
3,1,47,3.5,2005-04-02 23:32:07,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,3.5,2005-04-02 23:29:40,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [11]:
#Задание 5.1
#Подсчитайте, сколько раз каждый фильм встречается в наборе данных. 
# Отметьте среди перечисленных ниже фильмов те, что встречаются в топ-5 по популярности.

df['title'].value_counts().sort_values(ascending=False).head(5)

Pulp Fiction (1994)                 67310
Forrest Gump (1994)                 66172
Shawshank Redemption, The (1994)    63366
Silence of the Lambs, The (1991)    63299
Jurassic Park (1993)                59715
Name: title, dtype: int64

In [ ]:
#Задание 5.2

#Найдите средний рейтинг для каждого из фильмов.
#Найдите фильмы с наивысшим средним рейтингом.
#Введите в качестве ответа фильм, занимающий последнее место среди фильмов с наивысшим рейтингом,
#если предварительно отсортировать их по алфавитному порядку.

In [16]:
data = df.groupby('title')['rating'].mean()

In [19]:
data[data == data.max()].sort_index().tail()

title
Welcome to Australia (1999)                       5.0
When I Walk (2013)                                5.0
Who Killed Vincent Chin? (1987)                   5.0
Year Zero: The Silent Death of Cambodia (1979)    5.0
Yonkers Joe (2008)                                5.0
Name: rating, dtype: float64

In [ ]:
#Задание 5.3

#Чтобы решить эти проблемы, объединим два подхода и будем искать средний рейтинг только для фильмов, 
# которые были оценены более 50 раз.

#Сколько таких фильмов?

In [20]:
data = df['title'].value_counts()
data = data[data >50]
film_list = list(data.index)
len(film_list)

10472

In [ ]:
#Задание 5.4

#Постройте простейшую рекомендацию: 
# возьмите фильмы, которые смотрели более 50 раз, и найдите среди них фильм с наивысшей оценкой. 
# В качестве ответа запишите название этого фильма без артикля и года выхода на экран.

In [21]:
data = df['title'].value_counts()
mask = data >50
data = df.groupby('title')['rating'].mean()

In [23]:
data[mask].sort_values(ascending=False)

title
Shawshank Redemption, The (1994)       4.446990
Godfather, The (1972)                  4.364732
Usual Suspects, The (1995)             4.334372
Schindler's List (1993)                4.310175
Godfather: Part II, The (1974)         4.275641
                                         ...
Barney's Great Adventure (1998)        1.163484
Glitter (2001)                         1.124088
Bratz: The Movie (2007)                1.105556
From Justin to Kelly (2003)            0.973005
SuperBabies: Baby Geniuses 2 (2004)    0.837321
Name: rating, Length: 10472, dtype: float64