In [1]:
simplelist = [19, 242, 14, 152, 142, 1000]
import numpy as np
print(np.mean(simplelist))

261.5

In [2]:
import pandas as pd
print(pd.__version__)
print(pd.__name__)

1.4.3
pandas

pd.Series. По сути Серия - это столбец значений таблицы именами строк. У него есть индексы (имена), значения, а также имся и единый тип значений, который можно указать

In [3]:
# способ 1 задания серии (через списки)
countries = pd.Series(
    data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'],
    name = 'countries'
)
# В .ipynb последняя строка выводится сама. Однако для красивого вывода таблиц есть вариант с display:
display(countries)

# index по умолчанию = range(n):
countries = pd.Series(
    data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    name = 'countries'
)
display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

0       Англия
1       Канада
2          США
3       Россия
4      Украина
5     Беларусь
6    Казахстан
Name: countries, dtype: object

In [4]:
# Второй вариант задания серии (через словарь)
countries = pd.Series({
    'UK': 'Англия',
    'CA': 'Канада',
    'US' : 'США',
    'RU': 'Россия',
    'UA': 'Украина',
    'BY': 'Беларусь',
    'KZ': 'Казахстан'},
    name = 'countries'
)
display(countries)

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

In [5]:
# data access in series
# loc[] (доступ по именам-индексам) and iloc[] (доступ по порядковым номерам)
print(countries.loc['US']) # так мы возвращаем элемент
print(countries.loc[['US', 'RU', 'UK']]) # а так мы возвращаем series
print(countries.iloc[6]) 
print(countries.iloc[1:4])

США
US       США
RU    Россия
UK    Англия
Name: countries, dtype: object
Казахстан
CA    Канада
US       США
RU    Россия
Name: countries, dtype: object

In [6]:
#task 2.4 ПРИМЕР ИСПОЛЬЗОВАНИЯ СЕРИЙ
import pandas as pd

def create_medications(names, counts):
    """
    Напишите функцию create_mediactions(names, counts), которая  создает Series medications,
    индексами которой являются названия лекарств names, а значениями - их количество в поставке counts
    """
    return pd.Series(index = names, data = counts, name = 'medications')

   

def get_percent(medications, name):
    """
    А также напишите функцию get_percent(medications, name), которая возвращает долю количества товара
    с именем name от общего количества товаров в поставке в процентах.
    """
    return medications.loc[name]*100 / sum(medications[:])


if __name__ == '__main__':
    names=['chlorhexidine', 'cyntomycin', 'afobazol']
    counts=[15, 18, 7]
    medications = create_medications(names, counts)
    print(get_percent(medications, "chlorhexidine")) #37.5

37.5

##### DATAFRAME КАК СТРУКТУРА ДАННЫХ

In [7]:
#DataFrame создаётся с помощью функции pd.DataFrame().
#DataFrame — из словаря, ключами которого являются имена столбцов будущей таблицы, а значениями — списки, 
# в которых хранится содержимое этих столбцов
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
display(countries_df)
# теперь зададим езе индексы
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
display(countries_df)

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [8]:
##DataFrame — из вложенного списка, внутренние списки которого будут являться строками новой таблицы
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'square'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)
display(countries_df)

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [9]:
# параметр axis при вызове методов работы с таблицей показывает по строкам мы выполяем действия или по столбцам
# axis = 0 строка фиксирована, перебирая столбцы, axis = 1 по столбец фиксирован, перебирая строки
display(countries_df.mean(axis=0))
countries_df.mean(axis=1)

C:\Users\Кирилл Шемонаев\AppData\Local\Temp\ipykernel_22296\4091222323.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  display(countries_df.mean(axis=0))

population    9.070000e+01
square        5.800860e+06
dtype: float64

C:\Users\Кирилл Шемонаев\AppData\Local\Temp\ipykernel_22296\4091222323.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  countries_df.mean(axis=1)

UK      66726.145
CA    4992354.025
US    4913476.140
RU    8562668.620
UA     301836.750
BY     103804.750
KZ    1362459.520
dtype: float64

In [10]:
#ДОСТУП К ДАННЫМ В DATAFRAME
countries_df.population #по имени столбца через точку, если имя без пробелов. Получаем series

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

In [11]:
countries_df['population'] #по имени столбца через [], если имя без пробелов. Получаем series

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

In [12]:
type(countries_df.population)

pandas.core.series.Series

In [13]:
#Через loc и iloc. Первым указываем индекс строки (т.е ключ), а потом название столбца
countries_df.loc['UK', 'square']

133396

In [14]:
countries_df.loc['RU', ['population', 'square']]

population      146.24
square        17125191
Name: RU, dtype: object

In [15]:
countries_df.loc[['UA', 'BY', 'KZ'],['population', 'square']]

    population   square
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902

In [16]:
countries_df.iloc[4:8, 1:3]

    population   square
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902

In [17]:
# task 3.5
import pandas as pd

def create_companyDF(income, expenses, years):
    """
    Создайте функцию create_companyDF(income, expenses, years), которая  возвращает DataFrame, 
    составленный из входных данных со столбцами “Income” и “Expenses” и индексами, соответствующим годам рассматриваемого периода.
    """
    year_list = list()
    for i in range(len(years)):
        year_list.append([income[i],expenses[i]])
    df = pd.DataFrame(
        columns = ['Income','Expenses'],
        data = year_list,
        index = years
        
        )
    return df

def get_profit(df, year):
    
    """
    А также напишите функцию get_profit(df, year), которая возвращает разницу между доходом и расходом, записанных в таблице df, за год year.
    Учтите, что если информация за запрашиваемый год не указана в вашей таблице вам необходимо вернуть None. 
    """
    #ваш код здесь
    if year in df.index:
        profit = df.loc[year,'Income'] - df.loc[year,'Expenses']
    else:
        profit = None
    return profit

if __name__ == '__main__':
    expenses = [156, 130, 270]
    income = [478, 512, 196]
    years = [2018, 2019, 2020]
    
    scienceyou = create_companyDF(income, expenses, years)
    print(get_profit(scienceyou, 2020)) #-74

-74